@font-face {
    font-family: 'Butler';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url('/assets/fonts/butler-medium.woff2') format('woff2'),
        url('/assets/fonts/butler-medium.woff') format('woff');
}
