h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.2;
    font-family: $font-family-serif;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 3.5rem;
    line-height: 1;

    @include mq(lg) {
        font-size: 4.5rem;
    }
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.75rem;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: from-font;

    color: $primary-color;
    color: var(--primary-color, $primary-color);

    @include hover-focus {
        text-decoration: underline;
    }
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5;
    max-width: 60ch;

    @include mq(md) {
        font-size: 1.5rem;
    }
}
