<ol reversed>
    {% for entry in collections.entries | reverse %}
    <li>
        <time datetime="{{ entry.data.start | dateToFormat("yyyy-MM-dd") }}">
            {{ entry.data.start | dateToFormat("dd.MM.yyyy") }}&ndash;
            {% if entry.data.end %}{{ entry.data.end | dateToFormat("dd.MM.yyyy") }}{% else %}Currently{% endif %}
        </time>
        <p>{{ entry.data.title }}, {{ entry.data.company }}</p>
    </li>
    {% endfor %}
<ol>