<footer class="footer" role="contentinfo">
    <div class="container">
        <p>Last updated: {{ build.timestamp | dateToFormat('dd.MM.yyyy') }}</p>
        <p>&copy; {{ author.name }}</p>
    </div>
</footer>