<footer class="footer">
    <div class="container utl-space-between">
        <p>&copy; {{ author.name }}</p>
        <p>{{ strings.labels.lastUpdated }}: {{ build.timestamp | dateToFormat('dd.MM.yyyy') }}</p>
        {% if build.demo %}
            <a href="https://github.com/maxboeck/resume" class="repo-link utl-screen-only">
                <span>{% icon "github" %} view source</span>
            </a>
        {% endif%}
    </div>
</footer>