<footer class="footer">
    <div class="container u-space-between">
        <p>&copy; {{ author.name }}</p>
        <p>Last updated: {{ build.timestamp | dateToFormat('dd.MM.yyyy') }}</p>
    </div>
</footer>