<div class="vcard h-card">
    {% if author.avatar %}
        {%- set avatarUrl -%}/assets/images/{{ author.avatar }}{% endset %}
        <img class="vcard__avatar u-photo" src="{{ avatarUrl | base64file }}" width="200" height="200" alt="{{ author.name }}" />
    {% endif %}

    <div class="vcard__content">
        <div class="vcard__title">
            <h1 class="p-name">{{ author.name }}</h1>
            {% if author.pronouns %}
                <em class="vcard__pronouns p-gender-identity">({{ author.pronouns }})</em>
            {% endif %}
        </div>

        <p class="vcard__subtitle lead">
            <span class="p-job-title">{{ author.occupation }}</span>
            {% if author.location %}
                <span aria-hidden="true">&middot;</span>
                <span class="p-locality">{{ author.location }}</span>
            {% endif %}
        </p> 

        <div class="vcard__contact p-contact">
            {% if author.email %}
                <a class="vcard__link u-email" aria-label="Email" href="mailto:{{ author.email | obfuscate | safe }}">
                    {% icon "email" %}
                    <span class="vcard__link-text">{{ author.email | obfuscate | safe }}</span>
                </a>
            {% endif %}
            {% if author.telephone %}
                <a class="vcard__link p-tel" aria-label="Telephone" href="tel:{{ author.telephone | stripSpaces }}">
                    {% icon "telephone" %}
                    <span class="vcard__link-text">{{ author.telephone }}</span>
                </a>
            {% endif %}
            {% if author.website %}
                <a class="vcard__link u-url" aria-label="Website" href="{{ author.website }}">
                    {% icon "laptop" %}
                    <span class="vcard__link-text">{{ author.website | stripProtocol }}</span>
                </a>
            {% endif %}

            {% if author.social %}
                <div class="vcard__social">
                    {% for social in author.social %}
                        <a class="vcard__link" href="{{ social.url }}" aria-label="{{ social.name }}" rel="me">
                            {%- set isSocialIcon = true -%}
                            {%- icon social.name, isSocialIcon -%}
                            <span class="vcard__link-text p-nickname">{{- social.user -}}</span>
                            <span class="sr-only">on {{ social.name }}</a>
                        </a>
                    {% endfor %}
                </div>
            {% endif %} 
        </div>
    </div>
</div>