.bulletlist {
    list-style: none;
    padding-left: 1.5em;

    li {
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 0.5em;
            height: 0.5em;
            border-radius: 50%;
            background-color: $secondary-color;
            background-color: var(--secondary-color, $secondary-color);
            transform: translate(-50%, 20%);
            position: absolute;
            top: 0.5em;
            left: -1em;
        }
    }
}
