.sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: $spacing-x * 2;
}

.section {
    grid-column: span 2;
    padding-top: $spacing-y;
    padding-bottom: $spacing-y;

    @include mq(md) {
        &--half {
            grid-column: span 1;
        }
    }

    &__title {
        margin-bottom: $spacing-y;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $gray;
    }
}
