// ToolTip

.has-tooltip {
    &[aria-label] {
        position: relative;

        &::after {
            display: block;
            content: attr(aria-label);
            width: auto;
            position: absolute;
            z-index: -1;
            bottom: 100%;
            left: 50%;
            padding: 0.25rem 0.5rem;
            font-size: 0.75rem;
            white-space: nowrap;
            line-height: 1;
            color: #fff;
            background-color: #000;
            border-radius: 0.25rem;
            opacity: 0;
            transform: translate(-50%, 0);
            transition: all 0.2s ease;
            pointer-events: none;
        }
        &:hover::after {
            display: block;
            opacity: 1;
            z-index: 100;
            transform: translate(-50%, -0.25rem);
        }
    }
}
