.vcard {
    &__title {
    }
    &__subtitle {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.4;
    }
    &__avatar {
        border-radius: 50%;
    }
    &__location {
    }
    &__pronouns {
    }
    &__contact {
    }
    &__social {
    }
    &__link {
    }
}
