.vcard {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    &__content {
        padding-top: 1rem;
    }
    &__title {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
    &__subtitle {
        margin-bottom: 1rem;
    }
    &__avatar {
        width: 11rem;
        height: 11rem;
        flex: 0 0 11rem;
        border-radius: 50%;
        border: 5px solid #fff;
        box-shadow: $box-shadow-elevated;
        margin-right: $spacing-x;
    }
    &__pronouns {
        font-size: 1.125rem;
        font-family: $font-family-serif;
        color: $gray;
    }
    &__link {
        display: flex;
        align-items: center;
        margin-right: 1rem;

        @include hover-focus {
            text-decoration: none;
            
            .vcard__link-text {
                text-decoration: underline;
            }
        }

        .icon {
            margin-right: 0.125em;
        }
    }

    @include mq(md) {
        &__social {
            display: flex;
            flex-wrap: wrap;

            .vcard__link {
                margin-bottom: 0.4em; // compensate line-height
            }
        }
        &__link {
            display: inline-flex;
        }
    }

    @include mq(lg) {
        padding: $spacing-y 0;

        @supports (display: grid) {
            &__avatar {
                position: fixed;
                top: calc(#{$spacing-y} + 1rem);
                right: 75%;
                transform: translateX(25%);
                transition: transform 0.2s ease;
                margin: 0;

                .js-scrolled & {
                    transform: translateX(25%) scale(0.75);
                }
            }
        }
    }
}
