.vcard {
    position: relative;
    padding: 2rem 0;

    &__content {
        padding-top: 1rem;
    }
    &__title {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
    &__subtitle {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.4;
        margin-bottom: 1rem;
    }
    &__avatar {
        width: 11rem;
        height: 11rem;
        flex: 0 0 11rem;
        border-radius: 50%;
        border: 5px solid #fff;
        box-shadow: $box-shadow-elevated;
    }
    &__pronouns {
        font-size: 1.125rem;
        font-family: $font-family-serif;
        color: $gray;
        margin-left: 0.5rem;
    }

    @include mq(md) {
        display: flex;

        &__avatar {
            margin-right: 2rem;
        }
    }

    @include mq(lg) {
        &__avatar {
            position: fixed;
            top: 3rem;
            right: 75%;
            transform: translateX(25%);
            margin: 0;
        }
    }
}
