<!DOCTYPE html>
<html class="no-js" lang="{{ meta.lang }}">
<head>
    {% include "meta.njk" %}
    <link rel="preload" href="{{ '/assets/fonts/butler-medium.woff2' | url }}" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}">
</head>
<body {% if meta.colors %}style="{{ meta.colors | themeColors }}"{% endif %}>
    <div data-icon-sprite hidden>{% iconsprite %}</div>

    <div class="layout h-resume" role="document">
        {% include "header.njk" %}
        {{ content | safe }}
        {% include "sidebar.njk" %}
        {% include "footer.njk" %}
    </div>

    <script type="text/javascript" src="{{ '/assets/scripts/main.js' | url }}"></script>
    <!--! LAST BUILD: {{ build.env}} {{ build.timestamp | dateToISO }} -->
</body>
</html>