---
layout: base
---

<main class="main container">

        {% if collections.introduction.length %}
            {% set intro = collections.introduction|first %}
            <section class="section" id="section-introduction">
                <h2 class="section__title">{{ intro.data.title }}</h2>
                <div class="lead p-summary">
                    {{ intro.templateContent | safe }}
                </div>
            </section>
        {% endif %}

        <section class="section" id="section-experience">
            <h2 class="section__title">{{ strings.titles.experience }}</h2>
            {% set entries = collections.work %}
            {% set microformat = "p-experience" %}
            {% include "entrylist.njk" %}
        </section>

        <section class="section" id="section-education">
            <h2 class="section__title">{{ strings.titles.education }}</h2>
            {% set entries = collections.education %}
            {% set microformat = "p-education" %}
            {% include "entrylist.njk" %}
        </section>

    {% if author.skills or author.languages %}
        <div class="grid grid--2col">
            {% if author.skills %}
            <section class="section section--half" id="section-skills">
                <h2 class="section__title">{{ strings.titles.skills }}</h2>
                <ul class="bulletlist">
                {% for skill in author.skills %}
                    <li class="p-skill">{{ skill }}</li>
                {% endfor %}
                </ul>
            </section>
            {% endif %}

            {% if author.languages %}
            <section class="section section--half" id="section-languages">
                <h2 class="section__title">{{ strings.titles.languages }}</h2>
                <ul class="bulletlist">
                {% for language in author.languages %}
                    <li class="p-skill">{{ language.name }} ({{ language.level }})</li>
                {% endfor %}
                </ul>
            </section>
            {% endif %}
        </div>
    {% endif %}

    {% if collections.custom.length %}
        {% set custom = collections.custom|first %}
        <section class="section" id="section-custom">
            {% if custom.data.title %}
                <h2 class="section__title">{{ custom.data.title }}</h2>
            {% endif %}
            <div class="markdown">
                {{ custom.templateContent | safe }}
            </div>
        </section>
    {% endif %}

</main>